*{
    margin: 0;
    padding: 0;
}
.search-page{
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}
.searchInput{
    margin: 5px 15px 5px 15px;
    padding: 5px;
    border-radius: 15px;
}
.searcPagehbtn{
    border-radius: 2px;
    background-color: #d7e1d3;
    padding-left: 0;
    padding: 2px;
}
@media only screen and (max-width: 600px) {
    .search-page .search-form{
        display: flex;
        flex-direction: column;
    }
    .searchInput{
        margin: 15px 0 15px 0;
    }
}