*{
    box-sizing: border-box;
}

.movieCard{
    position: relative;
    margin: 4px;
    max-width: 100%;
}
.movie-poster{
    position: relative;
    width:250px;
    height: 350px;
}
.movieimg{
    width:250px;
    height: 350px;
    border-radius: 10px;
}
.movie-poster:hover + .mv-inf{
    visibility: visible;

}

.mv-inf:hover{
    visibility: visible;
}

.mv-inf{
    display: flex;
    flex-direction: column;
    position: absolute;
    alignment: bottom;
    bottom: 0;
    padding:5px;
    align-self: end;
    max-width: 100%;
    background-color: white;

    /*margin: 8px;*/
    visibility: hidden;
    /*transition: visibility 500ms;*/
}

.mv-inf-top{
    text-align: left;
    font-weight: bolder;
}

.mv-inf-btm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.mv-inf-overview{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.mv-inf-vote-avg{
    border-radius: 8px;
    background-color: red;
    padding-left:8px;
    padding-right: 8px;
    color: white;
    height: 22px;
    align-self: center;
}
@media only screen and (max-width: 600px) {
    .movie-poster{
        position: relative;
        width:150px;
        height: 250px;
    }
    .movieimg{
        width:150px;
        height: 250px;
        border-radius: 10px;
    }
}